.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: #e2c0c0 !important;
  background-color: #524eb7;
  border-radius: 15px;
}

.navbar-brand {
  font-weight: bold;
}

.card {
  padding: 2px;
  border-bottom: 2px solid #353455;
  color: rgb(176, 148, 79);
}

.active {
  background-color: #524eb7;
  border-radius: 30px;
}
