.list-group-item {
  padding: 8px !important;
}

.text-center {
  padding: 3px;
  font-weight: bold;
  border-bottom: 2px solid rgb(52, 93, 52);
  border-top: 2px solid rgb(52, 93, 52);
}

.emp {
  text-align: center;
  color: #524eb7;
  border-bottom: 2px solid rgb(52, 93, 52);
}

.text {
  text-transform: capitalize;
}
