.list-group-item {
  padding: 8px !important;
}

.text-center {
  padding: 3px;
  font-weight: bold;
  /* border-bottom: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0); */
}

.emp {
  text-align: center;
  color: #fff;
  background-color: #524eb7;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.text {
  text-transform: capitalize;
}
